@keyframes mobielMenuSubmenu {
    0% {
        left:0;
    }
    50% {
        left: -100vw;
    }
    100% {
        left:0;
    }
}

@keyframes width100percent {
    0% {
        width:0;
    }
    100% {
        width: 100%;
    }
}

