@keyframes mobielMenuSubmenu {
    0% {
        left:0;
    }
    50% {
        left: -100vw;
    }
    100% {
        left:0;
    }
}

@keyframes width100percent {
    0% {
        width:0;
    }
    100% {
        width: 100%;
    }
}

// @keyframes slideInOmhoog {
//     0% { 
//         -webkit-transform:translateY(100%); 
//         transform:translateY(100%);
//         visibility:visible;
//     } 100% {
//         -webkit-transform:translateY(0);
//         transform:translateY(0);
//     }
// }
        

