footer {
    .w-socials-list a {
        color:#323232;
        font-size: 17px;
    }

    .w-socials-item .w-socials-item-link:hover {
        border-color:transparent !important;
        background:unset !important;
    }

    .w-socials-item-link-hover:hover {
        background:unset !important;
    }

    #menu-copyright {

        overflow-y: hidden;
        padding-inline-start: 0;

        li {
             border-left: solid 1px #323232;
             padding: 0 20px;
             margin-right: 0;

            a {text-decoration: underline;}
        }

        li:first-child {
            border-left: none; 
            padding-left:0;  
        }

        li:last-child {
            padding-right: 0;
        }
        
    }
}

@media only screen and (min-width:600px) and (max-width:768px) {
    .col1Footer .vc_column-inner {border-bottom-width:0 !important;}
}