@import "_media-mixins";  

.row {display:flex;}

.float-right {float:right;}
.float-left {float:left;}
.d-none {display:none;}
.d-unset {display:unset;}
.d-block {display:block;}
.d-flex {display:flex;}

.mb-0 {margin-bottom:0;}

.overflow-x-hidden {overflow-x:hidden;}

.w-100{
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
}

.row-centered {
    display: flex;
    align-items: center;
}

.clearfix {clear:both;}

.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display:flex;
    align-items: center;
}



//grid voor -xxl
@each $size, $wordtNogNietGebruikt in $breakpoints {

    @include breakpoints($size) {

        .float-left#{$size} {float:left;}
        .float-right#{$size} {float:right;}

        .d#{$size}-none {display:none;}
        .d#{$size}-unset {display:unset;}
        .d#{$size}-block {display:block;}
        .d#{$size}-flex {display:flex;}

        .row#{$size}-centered {
            display: flex;
            align-items: center;
        }

    }

}



